<div>
  <div class="content">
    <p class="h1">Historical timelines of study group</p>
    <div>
      <button class="btn btn-primary" (click)="backToStudyGroups()">
        Back to study groups
      </button>
    </div>
    <table class="table is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let historicalTimeline of historicalTimelines">
        <td>{{historicalTimeline.id}}</td>
        <td>{{historicalTimeline.name}}</td>
        <td><a *ngIf="isTeacher" class="button is-danger" (click)="updateHistoricalTimelineModal(historicalTimeline.id)">
                        <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                        </span>
          <span>Update</span>
        </a></td>
        <td><a *ngIf="isTeacher" class="button is-danger" (click)="deleteHistoricalTimeline(historicalTimeline.id)">
                        <span class="icon is-small">
                          <i class="fas fa-trash"></i>
                        </span>
          <span>Delete</span>
        </a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isTeacher">
    <button class="btn btn-primary" (click)="createHistoricalTimelineModal()">
      Create new historical timeline
    </button>
  </div>

  <div *ngIf="showUpdateHistoricalTimelineModal">
    <div (click)="showUpdateHistoricalTimelineModal=!showUpdateHistoricalTimelineModal" class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="content">
          <form [formGroup]="updateForm" (submit)="updateHistoricalTimeline()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && formUpdate.name.errors }"/>
              <div *ngIf="submitted && formUpdate.name.errors" class="invalid-feedback">
                <div *ngIf="formUpdate.name.errors.required">Name is required</div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Update
                </button>
                <div class="level-item">
                  <a (click)="closeUpdateHistoricalTimelineModal()" class="button">Close</a>
                </div>
              </div>
            </nav>
          </form>
        </div>
      </section>
    </div>
  </div>

  <div *ngIf="showCreateHistoricalTimelineModal">
    <div (click)="showCreateHistoricalTimelineModal=!showCreateHistoricalTimelineModal" class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <div class="content">
          <form [formGroup]="createForm" (submit)="createHistoricalTimeline()">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" formControlName="name" class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && formCreate.name.errors }"/>
              <div *ngIf="submitted && formCreate.name.errors" class="invalid-feedback">
                <div *ngIf="formCreate.name.errors.required">Name is required</div>
              </div>
            </div>
            <nav class="level is-mobile">
              <div class="level-left">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Create
                </button>
                <div class="level-item">
                  <a (click)="closeCreateHistoricalTimelineModal()" class="button">Close</a>
                </div>
              </div>
            </nav>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>
