<div>
  <div>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="sidenav">
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
        <button style="margin-top: 40px" class="dropdown-btn" (click)="backToStudyGroups()" >Study Groups
        </button>
        <button class="dropdown-btn" (click)="logout()">
          Logout
        </button>
      </div>
    <div class="main_window">
      <div class="content">
        <p class="h1">Historical timelines of study group</p>
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
          <thead>
          <tr>
            <th>Name</th>
            <th *ngIf="isTeacher">Events</th>
            <th *ngIf="isTeacher">Comments</th>
            <th *ngIf="isTeacher">Update</th>
            <th *ngIf="isTeacher">Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let historicalTimeline of historicalTimelines">
            <td>{{historicalTimeline.name}}</td>
            <td><a class="button is-danger" (click)="showHistoricalEvents(historicalTimeline.id)">
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
              <span>Show</span>
            </a></td>
            <td><a class="button is-danger" (click)="showComments(historicalTimeline.id)">
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
              <span>Show</span>
            </a></td>
            <td><a *ngIf="isTeacher" class="button is-danger" (click)="updateHistoricalTimelineModal(historicalTimeline.id)">
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
              <span>Update</span>
            </a></td>
            <td><a *ngIf="isTeacher" class="button is-danger" (click)="deleteHistoricalTimeline(historicalTimeline.id)">
                            <span class="icon is-small">
                              <i class="fas fa-trash"></i>
                            </span>
              <span>Delete</span>
            </a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="wrapper">
          <div *ngIf="isTeacher">
            <button class="buttonblack" (click)="createHistoricalTimelineModal()">
              Create new historical timeline
            </button>
          </div>

          <div *ngIf="showUpdateHistoricalTimelineModal">
            <div (click)="showUpdateHistoricalTimelineModal=!showUpdateHistoricalTimelineModal" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="content">
                  <form [formGroup]="updateForm" (submit)="updateHistoricalTimeline()">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" formControlName="name" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && formUpdate.name.errors }"/>
                      <div *ngIf="submitted && formUpdate.name.errors" class="invalid-feedback">
                        <div *ngIf="formUpdate.name.errors.required">Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="events">Events</label>
                      <input type="text" formControlName="events" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && formUpdate.name.errors }"/>
                      <div *ngIf="submitted && formUpdate.name.errors" class="invalid-feedback">
                        <div *ngIf="formUpdate.name.errors.required">Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="comments">Comments</label>
                      <input type="text" formControlName="comments" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && formUpdate.name.errors }"/>
                      <div *ngIf="submitted && formUpdate.name.errors" class="invalid-feedback">
                        <div *ngIf="formUpdate.name.errors.required">Name is required</div>
                      </div>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <button [disabled]="loading" class="buttonblack">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Update
                        </button>
                        <div class="level-item">
                          <a (click)="closeUpdateHistoricalTimelineModal()" class="button">Close</a>
                        </div>
                      </div>
                    </nav>
                  </form>
                </div>
              </section>
            </div>
          </div>

          <div *ngIf="showCreateHistoricalTimelineModal">
            <div (click)="showCreateHistoricalTimelineModal=!showCreateHistoricalTimelineModal" class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                <div class="content">
                  <form [formGroup]="createForm" (submit)="createHistoricalTimeline()">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" formControlName="name" class="form-control"
                             [ngClass]="{ 'is-invalid': submitted && formCreate.name.errors }"/>
                      <div *ngIf="submitted && formCreate.name.errors" class="invalid-feedback">
                        <div *ngIf="formCreate.name.errors.required">Name is required</div>
                      </div>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <button [disabled]="loading" class="buttonblack">
                          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                          Create
                        </button>
                        <div class="level-item">
                          <a (click)="closeCreateHistoricalTimelineModal()" class="button">Close</a>
                        </div>
                      </div>
                    </nav>
                  </form>
                </div>
              </section>
            </div>
          </div>
              <div>
                <button class="buttonblack" (click)="backToStudyGroups()">
                  Back to study groups
                </button>
              </div>
        </div>
    </div>
  </div>
</div>
